.minha-lista{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minha-lista h1{
    margin-bottom: 14px;
}

.minha-lista span{
    font-size: 18px;
}

.minha-lista ul{
    width: 720px;
}

.minha-lista ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.minha-lista div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minha-lista div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}